<div class="bars">
   <ul class="skills">
     <li><span style="width: 80%" class="bar-expand"></span><em>Ruby/Rails</em></li>
     <li><span style="width: 65%" class="bar-expand"></span><em>C++</em></li>
     <li><span style="width: 55%" class="bar-expand"></span><em>C (Embedded) </em></li>
     <li><span style="width: 50%" class="bar-expand"></span><em>Qt Framework</em></li>
     <li><span style="width: 80%" class="bar-expand"></span><em>JavaScript</em></li>
     <li><span style="width: 70%" class="bar-expand"></span><em>NodeJS</em></li>
     <li><span style="width: 50%" class="bar-expand"></span><em>SailsJS Framework</em></li>
     <li><span style="width: 40%" class="bar-expand"></span><em>ExpressJS Framework</em></li>
     <li><span style="width: 70%" class="bar-expand"></span><em>Delphi/Lazarus</em></li>
     <li><span style="width: 95%" class="bar-expand"></span><em>PHP</em></li>
     <li><span style="width: 90%" class="bar-expand"></span><em>Zend Framework 1</em></li>
     <li><span style="width: 20%" class="bar-expand"></span><em>Zend Framework 2</em></li>
     <li><span style="width: 10%" class="bar-expand"></span><em>Pearl</em></li>
     <li><span style="width: 30%" class="bar-expand"></span><em>Java</em></li>
     <li><span style="width: 40%" class="bar-expand"></span><em>Java EE</em></li>
     <li><span style="width: 15%" class="bar-expand"></span><em>Assembly</em></li>
     <li><span style="width: 10%" class="bar-expand"></span><em>Python</em></li>
     <li><span style="width: 85%" class="bar-expand"></span><em>Linux</em></li>
     <li><span style="width: 85%" class="bar-expand"></span><em>GIT</em></li>
     <li><span style="width: 90%" class="bar-expand"></span><em>Arduino Platform</em></li>
     <li><span style="width: 60%" class="bar-expand"></span><em>Raspberry Pi</em></li>
     <li><span style="width: 25%" class="bar-expand"></span><em>Beagle Board</em></li>
     <li><span style="width: 35%" class="bar-expand"></span><em>Freescale i.MX Series</em></li>
  </ul>
</div>
