<li><a target="_blank" href="{{site.facebook-url}}/{{site.facebook-user}}"><i class="fa fa-facebook"></i></a></li>
<li><a target="_blank" href="{{site.twitter-url}}/{{site.twitter-user}}"><i class="fa fa-twitter"></i></a></li>
<li><a target="_blank" href="{{site.github-url}}/{{site.github-user}}"><i class="fa fa-github"></i></a></li>
<li><a target="_blank" href="{{site.bitbucket-url}}"><i class="fa fa-bitbucket"></i></a></li>
<li><a target="_blank" href="{{site.linkedin-url}}"><i class="fa fa-linkedin"></i></a></li>
<li><a target="_blank" href="{{site.instagram-url}}"><i class="fa fa-instagram"></i></a></li>
<li><a target="_blank" href="{{site.skype-url}}"><i class="fa fa-skype"></i></a></li>