<footer>
	<div class="row">
		<div class="twelve columns">
            <ul class="social-links">
               <li><a target="_blank" href="http://fb.me/b03ir4"><i class="fa fa-facebook"></i></a></li>
               <li><a target="_blank" href="http://twitter.com/b03ir4"><i class="fa fa-twitter"></i></a></li>
               <li><a target="_blank" href="http://github.com/marceloboeira"><i class="fa fa-github"></i></a></li>
			   <li><a target="_blank" href="http://bucket.marceloboeira.com"><i class="fa fa-bitbucket"></i></a></li>
               <li><a target="_blank" href="http://br.linkedin.com/in/marceloboeira"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="_blank" href="http://instagram.com/marceloboeirajr"><i class="fa fa-instagram"></i></a></li>
               <li><a target="_blank" href="callto://boeiraexe"><i class="fa fa-skype"></i></a></li>
            </ul>
            <ul class="copyright">
               <li>&copy; Copyright 2014 MarceloBoeira</li>
               <li>See source at <a title="Github" href="http://github.com/marceloboeira/marceloboeira.github.io/">Github.</a></li>   
            </ul>
         </div>
         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="fa fa-arrow-up"></i></a></li></div>
      </div>
   </footer> 
<script src="assets/js/library.js"></script>
<script src="assets/js/core.js"></script>