<header id="home">
  <nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide</a>
    <ul id="nav" class="nav">
      <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
      <li><a class="smoothscroll" href="#about">About</a></li>
      <li><a class="smoothscroll" href="#resume">Resume</a></li>
      <li><a href="http://blog.marceloboeira.com">Blog</a></li>
    </ul> 
  </nav> 
  <div class="row banner">
    <div class="banner-text">
      <h1 class="responsive-headline">Marcelo Boeira</h1>
      <h3>An unschooled <span>Ruby Poet</span> and <span>experimental musician</span>.
        <br>
        <a class="smoothscroll" href="#about">Start scrolling</a>
        and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
      <hr />
      <ul class="social">
        {% include home_social_links.html %}
      </ul>
    </div>
  </div>
  <p class="scrolldown"> <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a> </p>
</header>
