<footer>
	<div class="row">
		<div class="twelve columns">
            <ul class="social-links">
               {% include home_social_links.html %}
            </ul>
            <ul class="copyright">
               <li>&copy; Copyright 2014 MarceloBoeira</li>
               <li>See source at <a title="Github" href="{{site.github-repo}}">Github.</a></li>
            </ul>
         </div>
				<p  id="go-top" class="scrollup">
         <a class="smoothscroll" href="#home"><i class="icon-up-circle"></i></a>
      	</p>

      </div>
   </footer>
<script src="/assets/js/library.js?{{ site.github.build_revision }}"></script>
<script src="/assets/js/core.js?{{ site.github.build_revision }}"></script>
