<div class="bars">
   <ul class="skills">
     <li><span style="width: 70%" class="bar-expand"></span><em>Ruby/Rails</em></li>
     <li><span style="width: 60%" class="bar-expand"></span><em>Crystal Lang</em></li>
     <li><span style="width: 45%" class="bar-expand"></span><em>C++</em></li>
     <li><span style="width: 45%" class="bar-expand"></span><em>C (Embedded)</em></li>
     <li><span style="width: 50%" class="bar-expand"></span><em>Qt Framework</em></li>
     <li><span style="width: 30%" class="bar-expand"></span><em>JavaScript</em></li>
     <li><span style="width: 30%" class="bar-expand"></span><em>NodeJS</em></li>
     <li><span style="width: 70%" class="bar-expand"></span><em>Delphi/Lazarus</em></li>
     <li><span style="width: 95%" class="bar-expand"></span><em>PHP</em></li>
     <li><span style="width: 90%" class="bar-expand"></span><em>Zend Framework 1</em></li>
     <li><span style="width: 10%" class="bar-expand"></span><em>Python</em></li>
  </ul>
</div>
