<footer>
	<div class="row">
		<div class="twelve columns">
            <ul class="social-links">
               {% include home_social_links.html %}
            </ul>
            <ul class="copyright">
               <li>&copy; Copyright 2014 MarceloBoeira</li>
               <li>See source at <a title="Github" href="http://github.com/marceloboeira/marceloboeira.github.io/">Github.</a></li>   
            </ul>
         </div>
         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-circle"></i></a></li></div>
      </div>
   </footer> 
<script src="/assets/js/library.js"></script>
<script src="/assets/js/core.js"></script>